                <div id="sidebar-inner">
                    {{#if @blog.logo}}<div id="blog-logo"><img src="{{@blog.logo}}" alt="Blog Logo" /></div>{{/if}}
                    <div id="about-blog">
                        <p>I'm <strong>Example Name</strong> - Lorem, ipsum, dolor and sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div id="about-social">
                            <a href="http://facebook.com/"><i class="fa fa-facebook-square"></i></a>
                            <a href="http://plus.google.com/"><i class="fa fa-google-plus-square"></i></a>
                            <a href="http://twitter.com/"><i class="fa fa-twitter-square"></i></a>
                            <a href="http://youtube.com/"><i class="fa fa-youtube-square"></i></a>
                            <a onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()"><i class="fa fa-rss-square"></i></a>
                        </div>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{@blog.url}}/about">About</a></li>
                        <li><a href="{{@blog.url}}/contact">Contact</a></li>
                    </ul>
                </div>
